<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CheckListTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <CheckListTool.Properties.Settings>
            <setting name="CheckListPath" serializeAs="String">
                <value>R:\CT Apps\Tools\\Commit_CheckList</value>
            </setting>
            <setting name="CheckListGroupPath" serializeAs="String">
                <value>R:\CT Apps\Tools\Commit_CheckList\CheckListGroups</value>
            </setting>
            <setting name="UsersCommitsPath" serializeAs="String">
                <value>R:\CT Apps\Tools\Commit_CheckList\Users.xml</value>
            </setting>
            <setting name="ImpactAnalysisExcelPath" serializeAs="String">
                <value>R:\CT Apps\ImpactAnalysis\ImpactAnalysis.xlsx</value>
            </setting>
            <setting name="DevelopersXmlPath" serializeAs="String">
                <value>R:\CT Apps\Tools\Commit_CheckList\Developres.xml</value>
            </setting>
        </CheckListTool.Properties.Settings>
    </userSettings>
</configuration>